config/initializers/secret_token.rb
config/locales/en.bootstrap.yml
/.bundle
/db/*.sqlite3
/db/*.sqlite3-journal
/log/*.log
/tmp
config/database.yml
config/settings.yml
.keep
/bin
.idea
/public/system/rich
/public/system/dragonfly
public/assets/
config/initializers/recaptcha.rb
config/initializers/email.rb
.bundle/**/*
*.swp
config/database.yml
log/
tmp/pids/unicorn.pid
