<p>Привет <%= @resource.email %>!</p>

<p>Кто-то запросил сброс пароля. Вы можете сделать это нажав ссылку ниже.</p>

<p><%= link_to 'Изменить мой пароль', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Если вы не запрашивали данную процедуру прогнорируйте данное сообщение.</p>
