<p>Привет <%= @resource.email %>!</p>

<p>Ваш аккаунт был заблокирован в результате слишком большого количества неправильного воода пароля.</p>

<p>Нажмите на ссылку ниже чтобы разблокировать аккаунт:</p>

<p><%= link_to 'Разблокировать аккаунт', unlock_url(@resource, unlock_token: @token) %></p>
